[flake8]
max-line-length = 88

extend-ignore = ANN101, ANN102, W503

exclude = .venv, .git, __pycache__, .pytest_cache, tests, tests_simple

per-file-ignores =
    app/__init__.py: Q000
    app/cinema/__init__.py: Q000
    app/people/__init__.py: Q000
    main.py: Q000, VNE001, VNE002
