[flake8]
max-line-length = 120

# coloque comentários apenas em linhas separadas como esta
extend-ignore =
    E203
    W503
    E302

exclude =
    .venv,
    .git,
    .pytest_cache,
    __pycache__,
    .vscode,
    tests, tests_simple
