# Ambientes virtuais
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações de IDE
.idea/
.vscode/
*.iml

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Testes / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Distribuição / build
build/
dist/
*.egg-info/
